<!DOCTYPE HTML>
<html>
<head>
    <title>Minimaxing by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="page-wrapper">


        <!-- Banner -->
        <div id="banner-wrapper">
            <div class="container">

                <div id="banner">
                    <h2>МЕСТО ДЛЯ РЕКЛАМЫ</h2>
                    <span>Важная информация</span>
                </div>

            </div>
        </div>


    </div>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>