
<h2>Контакты</h2>
<p>Мы находимся по адресу г.Екатеринбург ул.8марта 126</p>
<p>Контактный телефон: 88003552341</p>
<p>E-mail: asdasd@google.com</p>
<p>Режим работы пн-пт с 8:00 до 18:00 </p>
<p>Мы находимся по адресу г.Екатеринбург ул.8марта 126</p>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8731.907755382306!2d60.59372384963342!3d56.82918488087442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc81b0908919e1ad0!2z0JPRgNC40L3QstC40Yc!5e0!3m2!1sru!2sru!4v1593374883280!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
